 @media (man-width: 1600px){
     .container{
        padding-left: 1rem!important;
     }
    .row{
        padding-left: 3rem!important;
    }
} 



section{
    font-family: 'Montserrat';
}
.amrita-color{
    color: #AF0C3E;
}
.header-banner{
    background-image: url(international\ Head.png);
    background-repeat: no-repeat;
    background-size: cover;
}
 .leftSection{
    padding-top: 466px;
    padding-bottom: 10px;
} 
.leftSection h1{
    color: #FFD92A;
}
.rightSection {
    padding-top: 150px;
}
.formContainer{
    height: 425px;
    border-radius: 14px;
}
form h1{
    padding-top: 21px;
    padding-left: 10px;
}
.form-group {
    padding-left: 10px;
    padding-right: 9px;
    height: 34px;

}
.form-control{
    height: 41px;
}
button.btn.btn-block {
    color: #AF0C3E;
    border: 1px solid;
    width: 210px;
    border-radius: 29px;
    margin-left: 8px;
}
.banner-img2{
    background-image: url(banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 597px;
    margin-top: 130px;
}
.img2 {
    padding-top: 0px;
    margin-left: -58px;
    margin-top: -121px;
}
.lipsum {
    margin-left: -119px;
}
.logo {
    margin-left: -196px;
    padding: 79px;
}
