
section{
    font-family: 'Montserrat';
}
.amrita-color{
    color: #AF0C3E;
}
.header-banner{
    background-image: url(international\ Head.png);
    background-repeat: no-repeat;
    background-size: cover;
}
 .leftSection{
    padding-top: 466px;
    padding-bottom: 10px;
} 
.leftSection h1{
    color: #FFD92A;
}
.rightSection {
    padding-top: 150px;
}
.formContainer{
    height: 425px;
    border-radius: 14px;
}
form h1{
    padding-top: 21px;
    padding-left: 10px;
}
.form-group {
    padding-left: 10px;
    padding-right: 9px;
    height: 34px;

}
.form-control{
    height: 41px;
}
button.btn.btn-block {
    color: #AF0C3E;
    border: 1px solid;
    width: 210px;
    border-radius: 29px;
    margin-left: 8px;
    font-weight: bold;
}
.banner-img2{
    background-image: url(banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 597px;
    margin-top: 130px;
}
.img2 {
    padding-top: 0px;
    margin-left: -58px;
    margin-top: -121px;
}
.lipsum {
    margin-left: -119px;
}
.logo {
    margin-left: -196px;
    padding: 79px;
}
.banner-img-3{
    background: linear-gradient(to right,#a4123eb9  ,#af0c3dab ), url('amrita_univerty\ 1.png');
    width: 100%;
    height:500px;
    margin-top: 10px;
    background-repeat: no-repeat; 
    background-size: cover;
}
.playvideo{
    background: url('playvideo.jpg');
    width: 100px;
    height: 100px;
}
.applyNow {
   
}