.header-banner{
    background-image:linear-gradient(to right,#a4123ee8  ,#af0c3da2 ),   url('amrita-banner1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.formContainer{
    height: 440px;
    border-radius: 14px;
}
.amrita-color{
    color: #AF0C3E;
}
.leftSection h4{
    color: #FFD92A;
}
button.btn.btn-block {
    color: #AF0C3E;
    border: 1px solid;
    border-radius: 29px;
    font-weight: bold;
    font-size: small;
}
.banner-img2{
    background-image: url(banner2.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 622px;
}

.banner-img-3{
    background: linear-gradient(to right,#ff044fbd  ,#af0c3dab ), url('amrita_univerty\ 1.png');
    background-repeat: no-repeat; 
    background-size: cover;
     background-position-y: center;
}
.dualdegreeText{
    font-size: 22.8px;
    top: 96px;
}
.dualdegreeRow{
    max-height: 560px;
}

  .KeyDifferentiators h1{
    font-size: 50px; line-height: 50px;
    }
    
footer ul{
   list-style: none;
}

footer ul a{
    color: black;
}
.footer-col{
    font-size: medium;
    line-height: 30px;
}
.footer-col .footerleft{
    font-weight: 500;
}
.footer-col h5{
    font-size: medium;
}
.footer-widget{
    font-weight: 320;
}
.fw-content{
    font-size: medium;
    color: #262626;
}
.joinTheProgram{
    padding-right:11rem!important;
}
.quoteText h1{
    font-size: 100px; 
    line-height: 0%; 
    padding-top: 12rem!important; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.quoteText .textArjun{
    color: #B30F56; 
    font-size: 30px;
    font-weight: bold;
     position: relative;
    left: -155px;
}
.footerInput{
    color: #636363; 
    background: rgb(255, 255, 255); font-size: small; border: 1px; box-shadow: 2px  2px #c9c9c9;;
    border-radius: 25px;
    width: 310px;
    height: 38px;
}
.footerbtn{
    margin-left: 188px;
    top: -36px; 
    position: relative;
    color: #ffffff; border: 1px solid;
    border-radius: 20px;
    width: 123px;
    height: 38px;
    background: linear-gradient( #B10F56 2.8%, #D00846); font-size: smaller;
}




@media (max-width:991px){    
    .navbars{
        display: none;
    }
    .formText br {
        display: none;
    }
    .videoContainer p br{
        display: none;
    }
    .joinAmrita p br{
        display: none;
    }
    .quoteText p br{
        display: none;
    }
    
    .dualdegree .text-white{
        top: -10px;
        position: relative;
    }   
    .dualdegreeText{
        font-size: 17.5px;
        top: 96px;
    }
    .dualdegree p br{
        display: none;
    }
    .dualdegree .dualdegreeBoyimg .pic{
        display: none;
    }
    .KeyDifferentiators h1{
        font-size: 30px;
        line-height: 35px;
    }
    .logoText{
        top: -325px;
        position: relative;
        font-size:x-small;
    }
    .logoText br{
        display: none;
    }
    .muslim .girl img{
        height: 400px;
        width: 260px;
    }
    .muslim .logo{
        display:none ;
    }
    
    .lipsum{
        display: none;
    }
    .lipsum h1{
        display: none;
    }
    .lipsum button{
        display: none;
    }
    .center-line{
        display: none;
    }
    .admission{
        align-items: center;
    }
    .joinTheProgram{
        padding-right: 0rem!important;
    }
    .quoteText br{
        display: none;
    }
    .quoteText h1{
        top: -20%;
        position: relative;
    }
    .quoteText p{
        top: -15%;
        position: relative;
    }
    .quoteText .textArjun{
        font-size: 25px;
        left: 0px;
    }
    .footerleft ul li{
        display:inline;
    }
    .fw-content ul li{
        display: inline;
    }
    .footer-widget p{
        font-size: 17px;
        line-height: 25px;
    }
    .footerInput{
        height: 59px;
        width: 284px;
    }
    .footerbtn{
        height: 59px;
        top: -56px;
        width: 142px;
        left: -42px;
        border-radius: 30px;
    }
    
}
