  @media (min-width: 1600px){
.container {
    max-width: 1140px;
    left: 2px;
    position: relative;
    padding-top: 153px;
    }
    .container .row{
        padding-top: 0px;
        margin-bottom: 54px;
        margin-left: -52px;
        padding-left: 18px;
    }
    .bg-white{
        margin-left: 107px;}
    .col-lg-9 .leftSection{
        padding-top: 427px;
        padding-left: 42px;
    }
    .part6 {
        padding-left: 8rem!important;
    }
    .navbar {
        /* position: relative; */
        margin-top: -207px;
    }
    
}



section{
    font-family: 'Montserrat';
}
.amrita-color{
    color: #AF0C3E;
}
.header-banner{
    background-image: url(international\ Head.png);
    background-repeat: no-repeat;
    background-size: cover;
}
 .leftSection{
    padding-top: 466px;
    padding-bottom: 10px;
} 
.leftSection h1{
    color: #FFD92A;
}
.rightSection {
    padding-top: 150px;
}
.formContainer{
    height: 425px;
    border-radius: 14px;
}
form h1{
    padding-top: 21px;
    padding-left: 10px;
}
.form-group {
    padding-left: 10px;
    padding-right: 9px;
    height: 34px;

}
.form-control{
    height: 41px;
}
button.btn.btn-block {
    color: #AF0C3E;
    border: 1px solid;
    width: 210px;
    border-radius: 29px;
    margin-left: 8px;
}